/* styles.css */
body { /* Lacks a bracket */
    font-family: arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
}

header { /* Wrong spelling of tag */
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

main section {
    margin: 20px;
} /* Lacks A bracket */

footer {
    position: absolute;
    bottom: 0; /* Lacks Semi-Colon */
    right: 0;
    width: 100vw;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; /* Lacks a colon */
}
